# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Données et modèles
data/raw/*
data/processed/*
models/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp

# Secrets
.env
*.key

# OS
.DS_Store
Thumbs.db

# Logs
*.log